---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout canonicalPath="/404.html" noIndex={true}>
    <style type="text/css" media="screen">
        .container {
            margin: 10px auto;
            max-width: 600px;
            text-align: center;
        }

        .container h1 {
            margin: 30px 0;
            font-size: 4em;
            line-height: 1;
            letter-spacing: -1px;
        }
    </style>

    <div class="container">
        <h1>404</h1>
        <p>Hey, buddy, this page doesn't exist.</p>
        <p>
            Wanna go back <a href="/">home</a>?
        </p>
    </div>
</PageLayout>
