---
layout: post-index
title: Blog
description: Latest posts
tags: [blog-homepage]
image:
---

{% for post in site.posts %}
    <article>

    <header>

        {% if post.image.feature %}
            <div> <!--TODO: make class to adjust image size-->
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
            </div>
        {% endif %}

        <div>
            <span>
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%B %d, %Y" }}
                </time>
            </span>

            {% if site.reading_time %}
                <span>
                    <i class="fa fa-clock-o"></i>
                    {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
                    Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
                </span>
            {% endif %}
        </div>

        {% if post.link %}
            <h1>
                <a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}">
                    <i class="fa fa-bookmark"></i>
                </a>
                <a href="{{ post.link }}">{{ post.title }}</a>
            </h1>
        {% else %}
            <h1>
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
            </h1>
        {% endif %}

    </header>

        <div>
            {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
                {{ post.content | split:'<!--excerpt.start-->' | last | split: '<!--excerpt.end-->' | first | strip_html }}
            {% else %}
                {{ post.excerpt | strip_html }}
            {% endif %}
        </div>

</article>

{% endfor %}