<!DOCTYPE html>

<html>

    {% include head.html %}

    <body>

    <div class="wrapper">

        <header>

            {% if page.title %}
                <div class="author-container"><h1>{{ page.title }}</h1></div>
            {% endif %}

            {% if page.description %}
                <div class="tagline-container"><h1>{{ page.description }}</h1></div>
            {% endif %}

        </header>

        <main>

            <div class="content">

            {{ content }}

            </div>

        </main>

        {% if page.modified %}
            <footer class="poweredby">
            <p>Updated on {{ page.modified | date: "%B %d, %Y" }}</p>
            </footer>
        {% endif %}

    </div>

    </body>

</html>
